
.alert 
{
    width:20%;
    margin: auto auto;   
}

#buttonDelete
{
padding: 1%;
}

#buttonEdit
{
padding: 1%;
}

#title
{
    width: 100%;
}

#timer
{
    padding: 1%;
}

#stopButton
{
    color: blue;
}

:root 
{
    font-size: 16px;
    --text-primary: #c7c4c4;
    --text-secondary: #f0ecec;
    --bg-primary: #2e2e40;
    --bg-secondary: #131318;
    --transition-speed: 600ms;
    font-family: 'Open Sans';
}

/*CREDIT FOR NAVBAR https://github.com/fireship-io/222-responsive-icon-nav-css  */
body
{
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar
{
    width: 0.30rem;
}

body::-webkit-scrollbar-track
{
    background: rgb(47, 46, 50);
}

body::-webkit-scrollbar-thumb
{
    background: rgb(36, 146, 243);
}


main
{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar
{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    z-index: 2;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
  }

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    margin-top: 0;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

svg
{
    fill: rgb(74, 146, 255);
    stroke: rgb(83, 129, 255);
}

.link-text{
    display: none;
    margin-left: 1rem;
    margin-right: 1.2rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover{
    width: 12rem;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 0.83rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

  .navbar:hover .link-text {
    display: inline;
  }

  @media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

  .navbar:hover .link-text {
    display: none;
  }
  .navbar:hover{
    width: 100%;
}

.nav-item {

width: 4.9rem;
}
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

}

#container{
  margin-left: 0rem;
}

.collapse {
  height: 50vh;
  overflow: scroll;
  text-align: left;
}

.card {
  border: 0.001rem solid;
}

.card-header{
  background-color: #f9f9f9;
  text-align: left;
}

#header
{
  background-color: rgb(255, 255, 255);
  height: 20vh;
  color: #02397c;
  z-index: 1;
  padding: 10px;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0;
  position:relative;
}
#space{
  height: 30vh;
}

#text-header
{
  font-weight: 500;
}

#minuteTimer
{
  font-size: 60px;
}

#secondTimer
{
  font-size: 60px;
}

#timer
{
  font-size: 30px;
}
