{% extends "layout.html" %}

{% block title %}
    Create timer
{% endblock %}

{% block main %}
<div>
    <div id="header">
        <h1 id="h1-header">ACTIVITY</h1>
        <p id="text-header">
            Keep track of your time.
        </p>
        <a class="nav-linkC" href="/timer"><button class="btn btn-outline-primary" >
            New Activity Timer
        </button></a>
    </div>  
</div>
    {% for activity in activity %}
    <div class="d-flex justify-content-center" id="timer">
        <div class="card border-dark">
            <div class="card-header d-flex justify-content-between align-items-center"><h5>{{ activity.title}}</h5></div>
            <div class="card-body">{{ activity.minutes }} : {{ activity.seconds }}</div>
            <div class="card-footer text-muted">
                {{ activity.d2 }}
                <form action="/deleteactivity" method="POST">
                    <input name="id" type="hidden" value="{{ activity.history_id_activity }}">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}