{% extends "layout.html" %}

{% block title %}
    Create timer
{% endblock %}

{% block main %}

    {% for activity in activity %}
    <div class="d-flex justify-content-center" id="timer">
        <div class="card border-dark">
            <div class="card-header d-flex justify-content-between align-items-center"><h5>{{ activity.title}}</h5></div>
            <div class="card-body">{{ activity.minutes }} : {{ activity.seconds }}</div>
            <div class="card-footer text-muted">
                {{ activity.d2 }}
                <form action="/deleteactivity" method="POST">
                    <input name="id" type="hidden" value="{{ activity.history_id_activity }}">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}