{% extends "layout.html" %}

{% block title %}
    Create TODO
{% endblock %}

{% block main %}
<form method="post" action="/createtodo">
    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="Title" type="text">
    {% if errorNoTitle %}
    <div class="alert alert-danger" role="alert">
        <div>{{ errorNoTitle }}</div>
    </div>
    {% endif %}
    {{ ckeditor.create() }}
    {% if errorNoText %}
        <div class="alert alert-danger" role="alert">
            <div>{{ errorNoText }}</div>
        </div>
    {% endif %}
    <input autocomplete="off" autofocus name="month" placeholder="Month" type="number" min="1" max="12">
    <input autocomplete="off" autofocus name="day" placeholder="Day" type="number" min="1" max="31">
    <input autocomplete="off" autofocus name="year" placeholder="Year" type="number" min="2022" max="2100">
    {% if errorNoDay %}
        <div class="alert alert-danger" role="alert">
            <div>{{ errorNoDay }}</div>
        </div>
    {% endif %}
    <button class="btn btn-primary" type="submit">Save</button>
</form>
{% endblock %}