{% extends "layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block main %}
<h2>New Entry</h2>
<div class="d-flex justify-content-center" id="container">
<div class="card border-dark w-75">
<form method="post" action="/createpost">
    <input autocomplete="off" autofocus class="form-control" id="title" name="title" placeholder="Title" type="text" value="{{ title }}">
        {{ ckeditor.create() }}
    {% if errorNoText %}
        <div class="alert alert-danger" role="alert">
            <div>{{ errorNoText }}</div>
        </div>
    {% endif %}
    <button class="btn btn-primary" type="submit">Save</button>
</form>
</div>
</div>
{% endblock %}