{% extends "layout.html" %}

{% block title %}
    Edit TODO
{% endblock %}

{% block main %}
<div class="card border-dark">
    <form method="post" action="/edittodo">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="Title" type="text" value="{{ title }}">
        {% if errorNoTitle %}
        <div class="alert alert-danger" role="alert">
            <div>{{ errorNoTitle }}</div>
        </div>
        {% endif %}
        {{ ckeditor.create(value= todo) }}
        {% if errorNoText %}
            <div class="alert alert-danger" role="alert">
                <div>{{ errorNoText }}</div>
            </div>
        {% endif %}
        <input autocomplete="off" autofocus name="month" placeholder="Month" type="number" min="1" max="12" value="{{ month }}">
        <input autocomplete="off" autofocus name="day" placeholder="Day" type="number" min="1" max="31" value="{{ day }}">
        <input autocomplete="off" autofocus name="year" placeholder="Year" type="number" min="2022" max="2100" value="{{ year }}">
        {% if errorNoDay %}
        <div class="alert alert-danger" role="alert">
            <div>{{ errorNoDay }}</div>
        </div>
    {% endif %}
        <input name="id" type="hidden" value="{{ id }}">
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>
{% endblock %}