{% extends "layout.html" %}

{% block title %}
    Journal
{% endblock %}

{% block main %}
<h2>Journal</h2>
<a class="nav-linkC" href="/createpost">New Entry</a>
    {% for text in text %}
    <div class="d-flex justify-content-center" id="container">
        <div class="card border-dark w-75">
            <div class="card-header d-flex justify-content-center " ><h5>{{ text.title | safe }}</h5></div>
            <div class="card-body"><div id="texttext">{{ text.text | safe }}</div></p>
                <style>
                    #texttext{text-align: left;}
                </style>
            </div>
            <div class="card-footer text-muted">
                {{ text.d1 }}
                <div class="btn-group">
                <form action="/deletepost" method="POST" id="buttonDelete">
                    <input name="id" type="hidden" value="{{ text.history_id }}">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
                <form action="/editpostbutton" method="POST" id="buttonEdit">
                    <input name="id" type="hidden" value="{{ text.history_id }}">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
                </div>
            </div>
        </div>
    </div>          
    {% endfor %}
        
{% endblock %}