{% extends "layout.html" %}

{% block title %}
    Journal
{% endblock %}

{% block main %}
<div>
    <div id="header">
        <h1 id="h1-header">JOURNAL</h1>
        <p id="text-header">
            Keep track of your days.
        </p>
        <a class="nav-linkC" href="/createpost"><button class="btn btn-outline-primary" >
            New Entry
        </button></a>

    </div>  
</div>

    {% for text in text %}
    <div class="d-flex justify-content-center " id="container">
        <div class="card border-dark w-75 shadow-lg p-3 mb-5 bg-body rounded">
            <div class="card-header d-flex justify-content-center" ><h5>{{ text.title | safe }}</h5></div>
            <div class="card-body">
                <button id="open-button" class="btn btn-outline-primary " type="button" data-bs-toggle="collapse" data-bs-target="#collapseText{{ text.history_id }}" aria-expanded="true" aria-controls="collapseExample">
                    Expand
                </button>
                <div class="collapse" id="collapseText{{ text.history_id }}">
                    <div>{{ text.text | safe }}</div>
                </div>
            </div>
            <div class="card-footer text-muted">
                {{ text.d1 }}
                <div class="btn-group">
                <form action="/deletepost" method="POST" id="buttonDelete">
                    <input name="id" type="hidden" value="{{ text.history_id }}">
                    <button type="submit" class="btn btn-outline-primary">Delete</button>
                </form>
                <form action="/editpostbutton" method="POST" id="buttonEdit">
                    <input name="id" type="hidden" value="{{ text.history_id }}">
                    <button type="submit" class="btn btn-outline-primary">Edit</button>
                </form>
                </div>
            </div>
        </div>
    </div>          
    {% endfor %}
        
{% endblock %}