{% extends "layout.html" %}

{% block title %}
    Posts
{% endblock %}

{% block main %}
<tbody>
    {% for text in text %}
        <tr>
            <td>{{ text.title | safe }}</td>
            <td>{{ text.text | safe }}</td>
            <td>
                <form action="/deletepost" method="POST">
                    <input name="id" type="hidden" value="{{ text.history_id }}">
                    <input type="submit" value="Delete">
                </form>
            </td>
            <td> {{ text.d1 }}</td>
        </tr>
    {% endfor %}
</tbody>
{% endblock %}