
{% extends "layout.html" %}

{% block title %}
    timer2
{% endblock %}

{% block main %}
<span class="timerM" id="timerM">{{ minutes }}
</span>
<span class="timer" id="timer">{{ seconds }}
</span>
<progress id="test" value="{{ seconds }}" max = "{{ seconds }}""></progress>
<form action="/timer2" method="POST">
  <input id="minutes" name="minutes" type="hidden">
  <input id="seconds" name="seconds" type="hidden">
  <input id="stopButton" type="submit" onclick="stop();">
</form>

<!---
  timer function
-->
<script type="application/javascript">
  // gets seconds
  const timerElement = document.getElementById("timer");
  // progress bar TO CHANGE
  const test = document.getElementById("test");


  // gets minutes
  const timerElementM = document.getElementById("timerM");

  // gets constant initial seconds an minutes
  const minuteStable = Number(document.getElementById("timerM").innerHTML);
  const secondStable = Number(document.getElementById("timer").innerHTML);

  // assigning seconds an minutes to a variable to change later
  let minuteCounter = document.getElementById("timerM").innerHTML;
  let timerCounter = test.max;


  const interval = setInterval(
    function()
    {
      if (minuteCounter == 0 && timerCounter == 0)
      {
        var minutes = document.getElementById("timerM").innerHTML;
        document.getElementById("minutes").value = parseInt(minutes) + minuteStable;

        var seconds = document.getElementById("timer").innerHTML;
        document.getElementById("seconds").value = parseInt(seconds) + secondStable;
        
        var save = document.getElementById('stopButton');
        save.form.submit();
        clearInterval(interval);
      }
      if (timerCounter < 1)
      {
        minuteCounter = minuteCounter - 1;
        timerCounter = timerCounter + 60;
      }
      timerCounter = timerCounter - 1;
      timerElement.innerText = timerCounter + "s";
      timerElementM.innerText = minuteCounter;
      test.value = (minuteCounter * 60) + timerCounter;
    }
  ,1000)
  function stop() 
  {
    
      var minutes = document.getElementById("timerM").innerHTML;
      document.getElementById("minutes").value = minuteStable - parseInt(minutes);

      var seconds = document.getElementById("timer").innerHTML;
      document.getElementById("seconds").value = secondStable - parseInt(seconds);
      clearInterval(interval);
      window.location.href = "/timer";
  }
</script>
{% endblock %}