
{% extends "layout.html" %}

{% block title %}
    timer2
{% endblock %}

{% block main %}
<span class="timerM" id="timerM">{{ minutes }}
</span>
<span class="timer" id="timer">{{ seconds }}s
</span>
<progress id="test" value="{{ seconds }}" max = "{{ seconds }}""></progress>
<input id="stopButton" type="button" value="Stop" onclick="stop();">
<script type="application/javascript">
  const timerElement = document.getElementById("timer");
  const test = document.getElementById("test");

  const timerElementM = document.getElementById("timerM");
  const testM = document.getElementById("testM");

  let minuteCounter = document.getElementById("timerM").innerHTML;
  let timerCounter = test.max;


  const interval = setInterval(
    function()
    {
      if (minuteCounter == 0 && timerCounter == 1)
      {
        clearInterval(interval);
        window.location.href = "/timer";
      }
      if (timerCounter < 1)
      {
        minuteCounter = minuteCounter - 1;
        timerCounter = timerCounter + 60;
      }
      timerCounter = timerCounter - 1;
      timerElement.innerText = timerCounter + "s";
      timerElementM.innerText = minuteCounter;
      test.value = (minuteCounter * 60) + timerCounter;
    }
  ,1000)
  function stop() 
  {
            clearInterval(interval);
            window.location.href = "/timer";
  }
</script>
{% endblock %}